.lineno {
	background:#909090;
	border-right:1px solid black;
	text-align:right;
}
.file-content {
	white-space: nowrap;
	width:100%;
}
.mismatch {
	background:#e3cc85;
	height:1.5em;
}
.mismatch-highlight {
	background:#9CE385;
	font-weight:bold;
}
.line-content {
	width:100%;
	cursor:pointer;
}
.match {
	
}
.match-highlight {
	font-weight:bold;
}
.left {
	position:relative;
	left:0;
	top:0;
}
.right {
	position:relative;
	right:0;
	bottom:0;
}
.file-name {
	border-bottom:1px solid #B2BC8A;
	font-style:italic;
	font-weight:bold;
}
#tool {
	display:table-cell;
	width:25px;
}
.file-content-wrapper {
	border: 2px inset #EFEFEF;
	width: 50%;
	display:table-cell;
	overflow:hidden;
}
.comparison-result {
	display:table;
	table-layout:fixed;
	position:relative;
	background:#e0e0e0;
	width:100%;
}