.lineno {
	background:#909090;
	border-right:1px solid black;
	text-align:right;
}
.file-content {
	white-space: nowrap;
	width:100%;
}
.mismatch {
	background:#e3cc85;
	height:1.5em;
}
.line-content {
	width:100%;
}
.match {
	
}
