body {
	background-color:#EBF0D6;
}
#content {
	position: relative;
}
.select-file {
	
}
.comparison-result {
	display:table;
	table-layout:fixed;
	position:relative;
	overflow: scroll;
	background:#e0e0e0;
	width:90%;
}
.file-content-wrapper {
	border: 2px inset #EFEFEF;
	width: 50%;
	display:table-cell;
	overflow:hidden;
}
.left {
	position:relative;
	left:0;
	top:0;
}
.right {
	position:relative;
	right:0;
	bottom:0;
}
.file-name {
	border-bottom:1px solid #B2BC8A;
	font-style:italic;
	font-weight:bold;
}
#tool {
	display:table-cell;
	width:25px;
}
