body {
	background-color:#EBF0D6;
}
#content {
	position: relative;
	margin:10px auto;
	padding:0 5px;
	background-color:#EFF4DD;
	width:80%;
	border:1px solid #DEF0D6;
	border-radius:5px;
	box-shadow: 0px 0px 30px #B7DEA5;
}
.select-file {
	
}
header > h3 {
	text-align:center;
	padding-bottom:5px;
	border-bottom: 2px solid #C0C0C0;
}
footer > p {
	font-size:0.5em;
	font-style:italic;
}

#comparison {	
	width:90%;
	max-height: 450px;
	overflow-x:hidden;
	margin:15px auto 0;
}
#comparison:focus {
	box-shadow: 0px 0px 15px #6d6464;
	outline:none;
}
#config {
	position: fixed;
	top:30%;
	right:-239px;
	border:1px solid #909090;
	background:rgba(219, 214, 240, 0.5);
	box-shadow: 0px 0px 3px #808080; 
	padding: 0 0 0 1.5em;
	height:239px;
}
#config > h3 {
	-moz-transform-origin:top left;
	-webkit-transform-origin:top left;
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	padding:0px;
	margin:0px;
}
#config > p {
	padding:0px;
	margin:0px;
}
