body {
	background-color:#EBF0D6;
}
#content {
	position: relative;
}
.select-file {
	
}
.comparison-result {
	display:table;
	table-layout:fixed;
	position:relative;
	overflow: scroll;
	background:#e0e0e0;
	width:90%;
}
footer > p {
	font-size:10px;
	font-style:italic;
}
